body {
  font-family: "Open Sans", sans-serif;
  background: #F4F2ED 0% 0% no-repeat padding-box;
  opacity: 1;
}

.footer-container{
  font-family: "Open Sans", sans-serif;
  background: #F4F2ED 0% 0% no-repeat padding-box;
  opacity: 1;
}

.navbar {
  background: #483F35 0% 0% no-repeat padding-box;
  opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: #E8D9BE;
  opacity: 1;
}

.horizontal-line {
  color: #483F35 !important;
}

.template-text-color {
  color: #483F35;
  font-family: "Rubik", sans-serif;
  text-align: justify;
}

.home-header-container {
  background: #f4e4ca;
}

.home-title {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  color: #483F35;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #483F35;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #BD5D38;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

.subtitle {
  color: black;
}

.about-up-para {
  font-size: 20px
}

section {
  padding-top: 4rem;
}

#section-newsletter {
  padding-top: 0;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}